#login{
    margin: 50px auto;
}
#register{
    margin: 50px auto;
}
.resetPassword{
    margin: 50px auto;
}

.sideBar a{
    text-decoration: none;
}
.sideBar table tr:hover{
    background: #dcdcdc;
}

* {
    box-sizing: border-box
}
html, body {
    height: 100%
}

ul {
    list-style: none
}
a {
    text-decoration: none
}


#footer {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    border-bottom: 1px solid #178acc;
    padding: 10px;
    color: #ffffff;
    margin-top: 30px;
    position: fixed;
}
